.footer {
position: absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);


}
#img1 {
width: 150px;
height: 65px;

}

#img2 {
width: 75px;
height: 65px;

}

#img3 {
width: 75px;
height: 65px;

}